body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen {
  html {
    min-height: 100%;
    background: #eff7fd; } }

body {
  color: #4b4b4b;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

body {
  font-size: 16px;
  line-height: 1.3; }

body,
html {
  background: #eff7fd;
  background: -moz-linear-gradient(top, #eef7fd 0%, #fdf2f4 50%, #fdf2f4 51%, #eef7fd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eef7fd 0%, #fdf2f4 50%, #fdf2f4 51%, #eef7fd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eef7fd 0%, #fdf2f4 50%, #fdf2f4 51%, #eef7fd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef7fd', endColorstr='#eef7fd',GradientType=0 );
  /* IE6-9 */ }
