@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.menu{
	background-color: #1284d2;
	width: 100%;
}
.menu-item{
	font-size: 18px;
	width: 31%;
	border-left: 1px solid #fcdfe7;
}
.promo{
	border: 2px dotted #0070bb;
	border-radius: 30px;
	padding: 15px;
	width: 60%;
}
table.button{
	color: #fff;
}
h1{
	color: #0070bb;
}
.js{
	color: #0070bb;	
}
table .footer{
	background: #fef0f4; /* Old browsers */
	background: -moz-linear-gradient(top, #fef0f4 0%, #fde6ed 100%, #fef0f4 100%, #fde6ed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fef0f4 0%,#fde6ed 100%,#fef0f4 100%,#fde6ed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fef0f4 0%,#fde6ed 100%,#fef0f4 100%,#fde6ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef0f4', endColorstr='#fde6ed',GradientType=0 ); /* IE6-9 */

}
// .slider{
// 	background: transparent !important;
// }
.follow{
	padding-left: 30px;
	margin: 0;
	color: #b84a60;
	font-size: 14px;
	padding-bottom: 0px;
}
.sledi{
	padding-left: 15px;
	margin: 0;
	color: #b84a60;
	font-size: 14px;
	padding-bottom: 0px;
}
.vk img{
	padding-left: 30px;
}
.you{
	padding-left: 20px;
}
.no-pd{
	padding-bottom: 0px;
}
.copyright{
  background: transparent !important;
  p{
  	padding-left: 20px;
  	color: #998b8e;
  	font-size: 10px;
	}
}
.shadow{
	background: transparent !important;
	border-radius: 15px 15px 15px 15px;
	-webkit-box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 3px 0px rgba(50, 50, 50, 0.5);
}
.bubble1{
	background-image: url("../assets/img/bubble3.png");
	background-repeat: no-repeat;
	background-position: 100% 82%;
}
.bubble2{
	background-image: url("../assets/img/bubble2.png");
	background-repeat: no-repeat;
	background-position: 100% 92%;
}
.bubble3{
	background-image: url("../assets/img/bubble3.png");
	background-repeat: no-repeat;
	background-position: 100% 88%;
}
