// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #eff7fd;
  background: -moz-linear-gradient(top, #eef7fd 0%, #fdf2f4 50%, #fdf2f4 51%, #eef7fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eef7fd 0%,#fdf2f4 50%,#fdf2f4 51%,#eef7fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eef7fd 0%,#fdf2f4 50%,#fdf2f4 51%,#eef7fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef7fd', endColorstr='#eef7fd',GradientType=0 ); /* IE6-9 */
}

.container.header {
  border-radius: 15px 15px 0 0;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #ffffff;

}

.header .columns {
  padding-bottom: 0;

}

.header p {
  color: #2886c8;
  font-size: 14px;
  padding-top: 45px;

}
.header p a{
  text-decoration: underline;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;

}


// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
.footer{
  border-radius: 0 0 15px 15px;
}
